.central-image {
  display: block;
  padding: 50px;
}	

.icon-next {
	color: black;
}


.carousel-inner h3{
	color: green;
}


.carousel-inner h2{
	color: black;
}

.page-header h1{
	color: blue;
}

.left-button .btn{
  position: absolute;
  left: 30%;
  top: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  font-size: 25pt;
}

.right-button .btn{
  position: absolute;
  left: 70%;
  top: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  font-size: 25pt;
  background: 
}

h1 strong {
  font-size: 50pt;
  color: #81DAF5;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 100px;
    margin-top: -70px;
    color: black;
}

.carousel-indicators{
	bottom: 0px;
}

.btn-lg {
	line-height: 2.5;	
}

.btn-danger h5{
  float: right;
  margin-top: 20px;
  margin-right: 100px;
  width: 350px;
  font-size: 18pt;
  text-align: center;
}

.hlpBtnn
{
  color: red;
  float: right;
  margin-top: 20px;
  margin-right: 100px;
}

.finger-image {
  width: 400px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 100px;
    margin-top: -70px;
    color: black;
}

.carousel-indicators{
	bottom: 0px;
}

.btn-lg {
	line-height: 2.5;	
}

.btn-warning{
  float: right;
  margin-top: 20px;
  margin-right: 100px;
}

.hlpBtnn
{
  color: red;
  float: right;
  margin-top: 20px;
  margin-right: 100px;
}